body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;;
    
}

.flexContainer{
    justify-content: center;

    align-items: center;
    display: flex;
    flex-direction: column;
    margin:  auto;
    
}

.title{
    margin: 30px;
    font-size: 50px;
    
}

.game{
    border: 2px;    
    border-style: solid;
    color: white;
    padding: 16px 32px;
    width: 90vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game-top{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33%;
    
}

.chooseWeapon{
    font-size:40px;
}

.game-mid{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33%;
}

.game-bot{
    height: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newGameButton{
    
    
    padding: 16px 90px;
    
    background-color: greenyellow;
    font-size: 70px;
    color: rgb(36, 36, 36);
    cursor: pointer;
    transition: all ease 0.2s;
}

.newGameButton:hover{
    font-size: 75px;
}

.hidden{
    display: none !important;
}

.choiceButton{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    font-size: 150px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    transition: all ease 0.2s;
    cursor: pointer;
}


.choiceButton:hover{
    font-size: 180px;
}

