body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: "Press Start 2P", cursive;
}

.flexContainer {
  justify-content: center;

  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 95vh;
}

.title {
  margin: 30px;
  font-size: 45px;
}

.game {
  border: 2px;
  border-style: solid;
  color: white;
  padding: 16px 32px;
  width: 90vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-top {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
  text-align: center;
}

.chooseWeapon {
  margin-top: 20px;
  font-size: 40px;
}

.game-mid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33%;
  margin-bottom: 2rem;
}

.winner {
  margin-bottom: 65px;
  font-size: 40px;
  text-align: center;
}

.midmid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-bot {
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
}

.score {
  margin-top: 90px;
  font-size: 50px;
  text-align: center;
}

.message {
  margin-top: 20px;
}

.newGameButton {
  font-family: "Press Start 2P", cursive;
  font-size: 50px !important;

  padding: 32px 120px;

  background-color: greenyellow;
  font-size: 70px;
  color: rgb(36, 36, 36);
  cursor: pointer;
  transition: all ease 0.2s;
  margin-bottom: 4rem;
}

.newGameButton:hover {
  font-size: 75px;
}

.hidden {
  display: none !important;
}

.choiceButton {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  font-size: 150px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: all ease 0.2s;
  cursor: pointer;
	border: 1px solid black;
}

.choiceButton:hover {
  font-size: 180px;
}

.win {
  color: rgb(36, 219, 36);
}

.lose {
  color: rgb(194, 47, 47);
  font-size: 35px;
}

.playedRounds {
  margin-top: 40px;
  color: gray;
}

.losemsg{
	color: rgb(255, 97, 97);
}

.winmsg{
	color: rgb(83, 185, 83);
}

.tiemsg{
	color: rgb(185, 185, 84);
}